---
import BaseLayout from '../../layouts/BaseLayout.astro';
import siteInfo from "@/site-info.json";
import { getAllArticles } from "@/utilModules/getCollections.mjs";

// Page metadata from a static site configuration data file
const pageMeta = siteInfo.pages.filter( (pg) => pg.path === new URL(Astro.request.url).pathname )[0] ?? {};
pageMeta.path = new URL(Astro.request.url).pathname;
// Allows us to locally override the config data file
pageMeta.title = "Categories";
pageMeta.subtitle = "All knowledge and general articles by category and by date (newest first)";

const posts = await getAllArticles(['posts', 'kb']);

const uniqueCats = [...new Set(posts.map((post) => [post.data?.category] ?? []).flat())];

---
<BaseLayout>
    <h2>Categories</h2>
    <div style="display: flex; flex-wrap: wrap; margin: 0 auto">
        {uniqueCats.sort().map((cat) => (
            <p><a href={`/categories/${cat}`}>{cat}</a></p>
        ))}
    </div>
</BaseLayout>
