---
import siteInfo from '../site-info.json';
// Page metadata
const pageMeta = siteInfo.pages.filter( (pg) => pg.path === new URL(Astro.request.url).pathname)[0] ?? {};
pageMeta.title = "Privacy";
pageMeta.subtitle = "I like privacy and I want you to have it too. This site will be as private as possible";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout frontmatter={pageMeta}>
    <p>
        This site is statically generated using <a href="https://astro.build" target="_blank">Astro</a> and 
        hosted on <a href="https://pages.cloudflare.com" target="_blank">Cloudflare Pages</a>.
        It does not keep personal information about visitors. 
        Even if it did, I would not <b>ever</b> sell that information. I greatly value privacy and security.
    </p>
    <p>
        This page will be updated as needed.
    </p>

    <h2>Browser storage</h2>
    <p>
        A number of pieces of information are kept in browser storage that impact how the site appears,
        these are never monitored or accessible to the site.
    </p>
    <h3>Local Storage</h3>
    <ul>
        <li><code>theme</code> - <code>light</code> or <code>dark</code> according to your chosen colour scheme setting.</li>
        <li>
            <code>giscus-session</code> - A session token for the comments system, <a href="https://giscus.app" target="_blank">Giscus</a>.
            Giscus uses your GitHub login to post comments, and this token is used to keep you logged in.
        </li>
    </ul>

    <h2>Scripts in the browser</h2>
    <p>
        This site uses a number of scripts to enhance the user experience. These are all open source and privacy respecting.
    </p>
    <ul>
        <li>
            There is a small script (optional) that makes the site menu's a little more responsive.
        </li>
        <li>
            <a href="https://giscus.app/client.js" target="_blank">Giscus client library</a> - A comments system that uses GitHub for authentication.
        </li>
        <li>
            <a href="https://static.cloudflareinsights.com/beacon.min.js" target="_blank">Cloudflare Insights</a> - A privacy-respecting analytics system from Cloudflare.            
        </li>
    </ul>
</BaseLayout>
