<article>
    <h2>Welcome</h2>
    <p>
        Welcome to my new, clean blog. This is taking over from my old <a href="https://it.knightnet.org.uk">Much Ado About IT</a> blog.
        That got a bit aged and hard to keep up-to-date having been replatformed, changed and merged over the years. It will remain in place
        but this is where all new articles from me will be published. Please see the <a href="/about">About</a> page for details about the
        design and hosting.
    </p>
    <p>
        It is in its very early stages so will probably look weird and a bit broken in places.
        Please bear with me as I learn all about Astro and how best to use it.
    </p>
</article>
