<article>
    <h2>Welcome</h2>
    <p>
        Welcome to my new, clean blog.
    </p>
    <p>
        It is in its very early stages so will probably look weird and a bit broken in places.
        Please bear with me as I learn all about Astro and how best to use it.
    </p>
    <p>
        I am designing the site from the ground-up with the help of Astro.
    </p>
</article>
