---
/** Page headings component 
 * ThemeChanger is the dark/light switcher component
 * PageNav is the page navigation component
 */

import { getImage, Image  } from "astro:assets"
// import siteInfo from '../site-info.json';
import PageNav from './PageNav.astro'
// import ThemeChanger from './ThemeChanger.astro'
import BrimhamRocks from '../resources/brimham-rocks-1200x279.jpg';

// const BrimhamRocksOptimised = await getImage({ src: BrimhamRocks })
const frontmatter = Astro.props.frontmatter ?? {}
// console.log('PageHeader.astro', Astro.props.frontmatter)

if (!frontmatter?.title) frontmatter.title = ''
if (!frontmatter?.subtitle) frontmatter.subtitle = ''

// <style define:vars={{ headBgImg: `url(${BrimhamRocksOptimised.src})` }}>
---
<header data-component="PageHeader">
    <div id="head-banner">
        <Image id="head-img" src={BrimhamRocks} alt="Brimham Rocks, Yorkshire, UK" />
        <div id="head-text">
            <h1 id="head-h1" class:list={['head-h1', {'with-subtitle': frontmatter.subtitle}]}>{frontmatter.title}</h1>
            { frontmatter.subtitle && <div role="doc-subtitle" id="head-subh1">{frontmatter.subtitle}</div> }
        </div>
    </div>
    <PageNav></PageNav>
</header>
<style>
    header {
        position: relative;
    }
    
    #head-h1 {
        margin: 0;
    }
    #head-subh1 {
        margin-bottom: 0;
    }

    #head-banner {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    #head-img {
        width: 100%;
        height: auto;
        display: block;
        margin:0;
    }

    #head-text {
        position: absolute;
        top: .5rem;
        left: .5rem;
        width: calc(100% - 1rem);
        height: auto;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        overflow: hidden;
    }

    .header__title {
        font-size: 2rem;
        margin: 0;
    }
</style>
